.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0px;
}

ul {
    margin-top: 30px;
    padding-top: 30px;
    list-style: none;
}

#info {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #E8E8E8;
    width: 270px;
    height: 350px;
}

#moves {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    background-color: #E8E8E8;
    width: 270px;
    height: 350px;
}

#image {
    height: 350px;
    width: 350px;
    border: 4px solid black;
    margin-bottom: 20px;
}

#name {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #E8E8E8;
    height: 70px;
    width: 340px;
    font-weight: 300;
    font-size: 25px;
    padding: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin-right: 70px;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin-left: 70px;
}

.left-buttons img {
    width: 100px;
    height: 40px;
}

